<div class="title_division">
  <div class="butasan_division">
    <%= image_tag 'butasan.png', class: 'butasan' %>
  </div>
  <h1>過去から積立シミュレーション for Index Fund</h1>
</div>


<% if @simulation %>
  <div class="condition_explanation_division_result" >
    <%= image_tag 'red_rectangle.png', class: 'red_rectangle' %>
    <h2>基本条件</h2>
    <p>選択したファンド: <%= @simulation.index_fund %>、毎月積立額: <%= @simulation.monthly_amount %> USドル、積立期間: <%= @simulation.start_year %>年<%= @simulation.start_month %>月 から <%= @simulation.end_year %>年<%= @simulation.end_month %>月</p>
  </div>

  <p>最終積立金額: <%= @result[:total_amount] %> USドル</p>
  <table>
  <thead>
    <tr>
      <th>日付</th>
      <th>価格</th>
      <th>商品名</th>
    </tr>
  </thead>
  <tbody>
    <% @matching_datas.each do |data| %>
      <tr>
        <td><%= data[0] %></td>
        <td><%= data[1] %></td>
        <td><%= data[2] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <p>シミュレーション結果がありません。</p>
<% end %>


<table>
  <thead>
    <tr>
      <th>日付</th>
      <th>価格</th>
      <th>商品名</th>
    </tr>
  </thead>
  <tbody>
    <% @assets.each do |asset| %>
      <tr>
        <td><%= asset[0] %></td>
        <td><%= asset[1] %></td>
        <td><%= asset[2] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="calculation_btn_division_result">
  <button type="button" class="calculator_btn_result" onclick="location.href='/simulations/input_form'">
    <div class="icon_div_result">
      <%= image_tag 'calculator.png', class: 'calculator_icon' %> 再計算する
    </div>
  </button>
</div>
