<h2>計算結果</h2>

<% if @simulation %>
  <p>選択したファンド: <%= @simulation.index_fund %></p>
  <p>毎月積立額: <%= @simulation.monthly_amount %> USドル</p>
  <p>積立期間: <%= @simulation.start_year %>年<%= @simulation.start_month %>月 から <%= @simulation.end_year %>年<%= @simulation.end_month %>月</p>
  <p>最終積立金額: <%= @result[:total_amount] %> USドル</p>
<% else %>
  <p>シミュレーション結果がありません。</p>
<% end %>